{{#if isCreating}}
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12'>
                {{textarea value=text class='form-control message-input' id='text' name='text' rows='3'}}
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-11'>
                <button {{action 'save'}} {{bindAttr disabled='error'}} class='btn btn-primary'>
                    Send
                </button>
                <button {{action 'cancel'}} class='btn btn-default'>
                    Cancel
                </button>
            </div>
            <div class='col-lg-1'>
                <label>{{remainingText}}</label>
            <div>
        </div>
    </div>
{{else}}
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12 btn-new-msg'>
                <button {{action 'new'}} class='btn btn-info'>
                    New Broadcast
                </button>
            </div>
        </div>
    </div>
{{/if}}
<div class='container'>
    <div class='row'>
        {{#each model}}
            <div {{bind-attr class=isLeader:message-leader:message}}>
                <div class='row'>
                    <div class='avatar left'>
                        <img {{bind-attr src=avatar}} alt='avatar'>
                    </div>
                    <div class='col-lg-10'>
                        <div class='row'>
                            <div class='left'>
                                <span class='user'>{{user}}</span> {{rank}}
                            </div>
                            <div class='right'>
                                {{format-date creationDate}}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='left'>
                                {{text}}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='left'>
                                <span>{{#linkTo 'message' this}}Show{{/linkTo}}
                            </div>
                            <div class='right'>
                                <button class='btn btn-primary btn-xs'>Save Message</button>
                            </div>
                        </div>
                        <div class='row'>
                            {{#unless isLeader}}
                                <div class='left'>
                                    <span>{{upvotes}}</span>
                                    <span {{action 'upvote' this}} class="glyphicon glyphicon-ok-sign"></span>
                                    <span>{{downvotes}}</span>
                                    <span {{action 'downvote' this}} class="glyphicon glyphicon-remove-circle"></span>
                                </div>
                            {{/unless}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>