<div class='message col-lg-12'>
    <div class='row'>
        <div class='col-lg-4'>
            <span class='user'>{{user}}</span> {{rank}}
        </div>
        <div class='col-lg-2 col-lg-offset-6'>
            {{format-date creationDate}}
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            {{text}}
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-2'>
            {{#if showComments}}
                <span>{{#linkTo 'comments' this}}Show Comments{{/linkTo}}
            {{else}}
                <span>{{#linkTo 'message' this}}Hide Comments{{/linkTo}}
            {{/if}}
        </div>
        <div class='col-lg-2 col-lg-offset-8'>
            <button class='btn btn-primary btn-xs'>Save Message</button>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-2'>
                <span>{{upvotes}}</span>
                <span {{action 'upvote' this}} class="glyphicon glyphicon-ok-sign"></span>
                <span>{{downvotes}}</span>
                <span {{action 'downvote' this}} class="glyphicon glyphicon-remove-circle"></span>
        </div>
    </div>
</div>
{{outlet}}